;# dBankLite 3 Properties File
;# Copyright © 2013 Visual Illusions Entertainment
;Interest Rate (in percentage) (Default: 2%)
interest.rate=2.0
;Interest Pay Interval (in minutes) (Default: 360 [6 Hours]) Set to 0 or less to disable
interest.pay.interval=360
;Max Interest Payout (Default: 10000)
interest.max.payout=10000
;SQL Bank table (All other SQL settings retrieved from dConomy)
sql.bank.table=dBankLite
#;
#; This file is part of dBankLite.
#;
#; dBankLite is free software: you can redistribute it and/or modify
#; it under the terms of the GNU General Public License as published by
#; the Free Software Foundation, either version 3 of the License, or
#; (at your option) any later version.
#;
#; dBankLite is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
#; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#; See the GNU General Public License for more details.
#;
#; You should have received a copy of the GNU General Public License along with dBankLite.
#; If not, see http://www.gnu.org/licenses/gpl.html
#;
